@media (max-width:607px){
.header-responsive{
    flex-direction: column;
}
   .header-responsive > div{
    flex-direction: column;

   }
   .header-responsive > div > button{
    margin-block: 10px;
   }
    }